<% include partials/header %>

<div id="searchContainer" class="container">
	<div class="row" id="spacerRow"></div>
	<div id="searchRow" class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<form id="searchForm" method="get" action="/search" role="search">
				<div id="searchDiv" class="form-group">
					<input id="searchField" type="text"  minlength="3" maxlength="20" class="form-control" placeholder="Find awesome boardgames!" name="q">
					<button type="submit" class="btn btn-default"><span id="searchButton" class="glyphicon glyphicon-search"></span></button>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-3"></div>
</div>

<% include partials/footer %>