<% include partials/header %>


<div class="jumbotron">
	<form id="searchForm" method="get" action="/search" role="search">
		<div class="form-group">
			<input id="searchField" type="text" class="form-control" placeholder="Find awesome boardgames!" name="q">
		</div>
		<input id="searchButton" type="submit" value="Search" class="btn btn-default">
	</form>
</div>


<% include partials/footer %>