<% include partials/header %>

<div id="resultsContainer" class="container">
<h1 id="resultsHeader">Are these the awesome boardgames you've been looking for?</h1>
	<ul>
		<% for(var i=0;i<boardgames.boardgame.length;i++){ %>
			<% if(boardgames.boardgame[i].name[0]._){ %>
			<div class="">
				<div class="resultsDiv">
					<div class="boardgameNameResult"><%= boardgames.boardgame[i].name[0]._ %></div>
					<div class="boardgameYearResult"><%= boardgames.boardgame[i].yearpublished %></div>
					<a href="/results/<%= boardgames.boardgame[i].$.objectid %>" class="btn btn-primary resultBtn" >Check it out!</a>
				</div>
			</div>
			<% } %>
		<% } %>
	</ul>
</div>

<% include partials/footer %>